<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        bootstrap="tests/test-bootstrap.php"
        colors="true">

    <testsuites>
        <testsuite name="Justly Unit Tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>